<a href="https://colab.research.google.com/github/KIISIISHERE/Statistics-I/blob/main/Statistics_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
import pandas as pd
import numpy as np

In [67]:
#read and load the data
data=pd.read_csv("/content/Titanic Dataset.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Gender
0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,S,male
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,C,female
2,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,female
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,S,female
4,5,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,S,male

In [68]:
#check for null values
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          156
Embarked         0
Gender           0
dtype: int64

In [69]:
#dropm null values
data.dropna(inplace=True)

In [70]:
#mean age of passengers in The Titanic
mean_age=data['Age'].mean()
print(f"The Mean Age of Passengers in The Titanic is: {mean_age:.2f}")

The Mean Age of Passengers in The Titanic is: 34.74

In [71]:
#meadian age of passengers in The Titanic
median_age=data['Age'].median()
print(f"The Median Age of Passengers in The Titanic is: {median_age:.2f}")

The Median Age of Passengers in The Titanic is: 32.50

In [72]:
#the most common age of the passengers in The Titanic
mode_age=data['Age'].mode()
print("The Most Common Age of Passengers in The Titanic is:", mode_age)

The Most Common Age of Passengers in The Titanic is: 0    27.761731
Name: Age, dtype: float64